---
layout: 'base.njk'
pageTitle: CasualDev_
---

<article class="blogpost">
    <div class="blogpost-content">
        <h1>{{ title }}</h1>
        <p class="author-info">By {{ author }} on {{ date | postDate}}</p>
        <figure class="blogpost-figure">
            <img src="{{ image }}" alt="{{ imageAlt }}">
            <figcaption>
                {{ imageAlt }}
            </figcaption>
        </figure>

        <div class="blogpost-content-main">
            {{ content | safe }}
        </div>
    </div>
</article>