<footer class="footer">
    <img src="/assests/logo.webp" alt="Green text that reads Casual Development wrapped in a green circle against a white background">
    <p>&copy; {{ page.date.getFullYear() }} CasualDevelopment <p> 
</footer>