@import url(https://fonts.bunny.net/css?family=alatsi:400|alfa-slab-one:400);
html,
body {
  margin: 0 auto;
  font-family: "Alatsi", "Alfa Slab One", sans-serif;
  overflow-x: hidden;
}
/* header styles */
.header {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.header_logo-wrapper {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
}

.header_logo-wrapper img {
  width: 25%;
}

.nav {
  width: 100%;
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_item {
  padding: 0 2em;
}

.nav_item a {
  text-decoration: none;
  color: black;
}

.nav_item a:hover,
.nav_item a:focus {
  color: #51fa7b;
}

@media screen and (max-width: 700px) {
  .header_logo-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_logo-wrapper img {
    width: 50%;
  }

  .nav {
    margin-bottom: 1.5em;
  }
  .nav_list {
    justify-content: center;
  }
}

/* hero Section Styles */
.hero {
  margin: 0 auto;
  width: 100%;
  height: 38dvw;
  min-height: 500px;
  background-image: url("/assests/green-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_text-wrapper {
  margin-left: 2em;
  display: block;
  position: relative;
  width: 100%;
  top: 5em;
  z-index: 2;
}

.hero_text-wrapper::before {
  position: relative;
  display: block;
  content: "";
  background-color: #252324;
  padding: 3vw;
  width: 45dvw;
  z-index: 2;
  transform: rotate(-1.5deg) translateY(10.5vw) translateX(-2vw);
}

.hero_text-wrapper::after {
  display: block;
  content: "";
  padding: 3vw;
  width: 45vw;
  background-color: #fed426;
  z-index: -1;
  transform: rotate(2.5deg) translateY(-8vw) translateX(2vw);
}

.hero h2 {
  position: inherit;
  color: white;
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  font-family: "Alfa Slab One";
  margin-bottom: -0.2em;
  z-index: 2;
}

.hero p {
  position: inherit;
  color: #005c46;
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  margin-left: 2em;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .hero_text-wrapper {
    height: 38dvw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero h2 {
    text-align: center;
    font-size: 8svw;
    transform: rotate(-1deg);
  }

  .hero p {
    margin-top: 0.4em;
    font-size: 5.5svw;
    transform: translateX(-4rem) rotate(2.5deg);
  }

  .hero_text-wrapper::before {
    padding: 6svw;
    width: 80svw;
    transform: rotate(-1.5deg) translateY(17.5vw) translateX(-2vw);
  }

  .hero_text-wrapper::after {
    padding: 5svw;
    width: 60svw;
    transform: rotate(2.5deg) translateY(-13svw) translateX(-4svw);
  }
}

/* Profile Section Styles */
.profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
  background-color: whitesmoke;
}

.profile_content-wrapper {
  justify-self: center;
  margin: 0 2em;
  margin-left: 60%;  
}

.profile_link-wrapper {
  margin: 2em 2em;
  margin-right: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_link-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile_link-list li a svg {
  width: 2rem;
  height: 2rem;
}

.twitter {
  fill: #1DA1F2;
}

.youtube {
  fill: #FF0000;
}




.profile-image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #d0f4c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-wrapper img {
  position: relative;
  z-index: 2;
  border-radius: 100%;
  width: 95%;
}

/* footer styles */
.footer {
  margin: 0 auto;
  text-align: center;
}

.footer img {
  width: 15%;
}
