@import url(https://fonts.bunny.net/css?family=alatsi:400|alfa-slab-one:400);
html,
body {
  margin: 0 auto;
  font-family: "Alatsi", "Alfa Slab One", sans-serif;
  overflow-x: hidden;
}
/* header styles */
.header {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.header_logo-wrapper {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
}

.header_logo-wrapper img {
  width: 25%;
}

.nav {
  width: 100%;
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_item {
  padding: 0 2em;
}

.nav_item a {
  text-decoration: none;
  color: black;
}

.nav_item a:hover,
.nav_item a:focus {
  color: #51fa7b;
}

@media screen and (max-width: 700px) {
  .header_logo-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_logo-wrapper img {
    width: 50%;
  }

  .nav {
    margin-bottom: 1.5em;
  }
  .nav_list {
    justify-content: center;
  }
}

/* hero Section Styles */
.hero {
  margin: 0 auto;
  width: 100%;
  height: 38dvw;
  min-height: 500px;
  background-image: url("/assests/green-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_text-wrapper {
  margin-left: 2em;
  display: block;
  position: relative;
  width: 100%;
  top: 5em;
  z-index: 2;
}

.hero_text-wrapper::before {
  position: relative;
  display: block;
  content: "";
  background-color: #252324;
  padding: 3vw;
  width: 45dvw;
  z-index: 2;
  transform: rotate(-1.5deg) translateY(10.5vw) translateX(-2vw);
}

.hero_text-wrapper::after {
  display: block;
  content: "";
  padding: 3vw;
  width: 45vw;
  background-color: #fed426;
  z-index: -1;
  transform: rotate(2.5deg) translateY(-8vw) translateX(2vw);
}

.hero h2 {
  position: inherit;
  color: white;
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  font-family: "Alfa Slab One";
  margin-bottom: -0.2em;
  z-index: 2;
}

.hero p {
  position: inherit;
  color: #005c46;
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  margin-left: 2em;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .hero_text-wrapper {
    height: 38dvw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero h2 {
    text-align: center;
    font-size: 8svw;
    transform: rotate(-1deg);
  }

  .hero p {
    margin-top: 0.4em;
    font-size: 5.5svw;
    transform: translateX(-4rem) rotate(2.5deg);
  }

  .hero_text-wrapper::before {
    padding: 6svw;
    width: 80svw;
    transform: rotate(-1.5deg) translateY(17.5vw) translateX(-2vw);
  }

  .hero_text-wrapper::after {
    padding: 5svw;
    width: 60svw;
    transform: rotate(2.5deg) translateY(-13svw) translateX(-4svw);
  }
}

/* Profile Section Styles */
.profile {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  background-color: whitesmoke;
}

.profile_content-wrapper {
  justify-self: flex-start;
  width: 95%;
}

.profile_content-wrapper h2 {
  font-size: 3rem;
  margin-bottom: 0;
  text-decoration: underline;
  text-decoration-color: #51fa7b;
}

.profile_content-wrapper p {
  font-size: 1.5rem;
  margin-top: 0;
}

.profile_link-wrapper {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_link-wrapper legend {
  text-decoration: underline;
  text-decoration-color: #005c46;
}

.profile_link-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile_link-list li a svg {
  width: 2rem;
  height: 2rem;
}

.twitter {
  fill: #1da1f2;
}

.youtube {
  fill: #ff0000;
}

.profile-image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #d0f4c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-wrapper img {
  position: relative;
  z-index: 2;
  border-radius: 100%;
  width: 95%;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
  }

  .profile_content-wrapper {
    text-align: center;
    margin: 0 auto;
  }
}

/* blog page styles */
.blog-wrapper {
  margin: 0 2em;
  width: 100%;
}

.blog-wrapper h2 {
  font-size: 3rem;
  text-decoration: underline 0.5em #51fa7b;
}

.blog_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog_list-item {
  margin-bottom: 1em;
}

.list_item-article {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 0.6fr;
  gap: 1em;
  grid-template-areas: "image";
}

.list_item-image-wrapper {
  grid-area: image;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item-image-wrapper img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.list_item-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
}
.content-author-div {
  border-bottom: 0.5em solid #51fa7b;
}

.content-author-div h3 {
  font-size: 2rem;
  margin: 0;
}

.content-author-div p {
  font-size: 0.8rem;
  margin-top: 0;
}
.content-description {
  height: 100%;
}

.list_item-link {
text-align: center;
text-decoration: underline #51fa7b 0.15em;
color: black;
cursor: pointer;
}

/* blog post styles */
.blogpost {
  margin: 0 2em;
}

.blogpost h1 {
  font-size: 4rem;
  text-decoration: underline #51fa7b 0.5rem;
  margin-bottom: 0;
}
.author-info {
  margin-top: 0;
  font-size: 1.5rem;
}

.blogpost-figure img {
 width: 100%;
 aspect-ratio: 32/9;
 object-fit: cover;
}

.blogpost-figure figcaption {
  font-size: 1.25rem;
}

.blogpost-content-main {
  font-size: 1.15rem;
}

/* footer styles */
.footer {
  margin: 0 auto;
  text-align: center;
}

.footer img {
  width: 15%;
}
