---
title: CasualDev_
layout: 'base.njk'
---

<section class="hero">
    <div class="hero_text-wrapper">
        <h2>CasualDevelopment</h2>
        <p>No experts in sight</p>
    </div>
</section>
<section class="profile">
    <div class="profile_content-wrapper">
        <h2>A Casual Developer</h2>
        <p>Hello! I'm Jacob, a self taught hobbyist web developer. I build things for fun as a way to express my creativity through code and to share it with the world. I got my start in coding when learning about bioinformatics and how to use R and Python to analyze massive data sets. These Days I focus on the front end of the web and love playing around with static site generators like Eleventy (Which I used to build this site) to build JAMstack sites.</p>
        <p>Other hobbies of mine include weight lifting, cooking, planted aquariums, and DIY projects. I'll be featuring some of these on the CasualDevelopment YouTube channel to share with Y'all as breaks between coding projects.</p>
    </div>
    <div class="profile_link-wrapper">
        <div class="profile-image-wrapper">
            <img src="/assests/profile.jpg" alt="A white man in a green hoodie wearing a baseball cap with the text 'thic' on the front.">
        </div>
        <ul>
            <li>
                <a href="https://twitter.com/balorformorian" target="_blank" rel="norefferer">Twitter</a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCdlgnwlj8WgDoeFa_p3AW4g" target="_blank" rel="norefferer">YouTube</a>
            </li>
        </ul>
    </div>
</section>